<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiyou.nm.mapper.WasRoleMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jiyou.nm.model.entity.WasRoleMenu">
        <result column="role_id" property="roleId" />
        <result column="menu_id" property="menuId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_id, menu_id
    </sql>

    <select id="selectRoleOwnedList" resultType="com.jiyou.nm.model.entity.WasMenu">
        select a.* from was_menu a inner join was_role_menu b on a.id = b.menu_id
        where b.role_id=#{roleId}
    </select>

</mapper>
